# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

#data files
*.plot

#bin_file
membrane
unittests
animation
*.out

#video
*.ogv